
.rcchat_header{
    text-align: left;
}

.rcchat_header h1 {
    background:url("../../assets/images/redcap_logo.png") 0 50% no-repeat;
    background-size: 30px;
    font-size: 122%;
    margin: 15px 0;
    padding-left: 40px;
    height: 30px;
    line-height: 160%;
    color: #fff;
}

.rcchat_header button {
    border:none;
    background:none;
    color:#fff;
}

.rcchat_header .archive {
    float:right;
    margin-left:5px;
}

.rcchat_header .chat {
    float:right;
}
